<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
		<link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css?ver=1.0">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" />




<!------ Include the above in your HEAD tag ---------->

<head>
	<title>Profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/profile.css}">
	<link rel="stylesheet" th:href="@{/css/userHome.css}"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/
  3.3.7/js/bootstrap.min.js"></script>
</head>
<header>	
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light custom_header navbar-toggler py-3">
		<img class="logo" th:src="@{/static/image/logo.jpg}" alt="" />
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav ml-auto my-lg-0 mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>		
					<li class="nav-item active" th:if="${fullname != null}">
						<a class="nav-link" href="/profile" th:text=${fullname}></a>
					</li>
					<li class="nav-item" th:if="${fullname != null}">
						<a class="nav-link" href="/logout">Logout</a>
					</li>
					<li class="nav-item" th:if="${fullname == null}">
						<a class="nav-link" href="/login">Login</a>
					</li>
					<li class="nav-item" th:if="${fullname == null}">
						<a class="nav-link" href="/register">Register</a>
					</li>
				</span>
		  	</ul>
		</nav>	
	</header>
<body>
	<hr>
	<div class="container bootstrap snippet">
		<div class="row">
			<div class="col-sm-10">
				<h1 th:if="${fullname != null}"> Hi, <a th:text="${fullname}"></a></h1>
			</div>
			<div class="col-sm-2"></div>
		</div>
		<div class="row">
			<div class="col-sm-3"><!--left col-->
				<div class="panel panel-default">
					<div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
					<div class="panel-body"><a href="http://bootnipets.com">tramin.com</a></div>
				</div>


				<ul class="list-group">
					<li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
					<li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125
					</li>
					<li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
					<li class="list-group-item text-right"><span class="pull-left">
				</ul>

				<div class="panel panel-default">
					<div class="panel-heading">Social Media</div>
					<div class="panel-body">
						<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i
							class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i
							class="fa fa-google-plus fa-2x"></i>
					</div>
				</div>

			</div><!--/col-3-->
			<div class="col-sm-9">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#home">Home</a></li>
					<li><a data-toggle="tab" href="#messages">Booking</a></li>
				</ul>


				<div class="tab-content">
					<div class="tab-pane active" id="home">
						<hr>
						<form class="form" id="registrationForm" th:action="@{/updateprofile}" th:object="${user}"
							method="post" action="##">
							<div th:if="${errorMessage}" class="alert alert-danger">
								<p th:text="${errorMessage}"></p>
							</div>
							<div class="form-group">

								<div class="col-xs-6">
									<label for="fullname">
										<h4>Full name</h4>
									</label>
									<input type="text" class="form-control" name="first_name" id="fullname"
										th:field="*{fullname}" title="enter your first name if any.">
								</div>
							</div>

							<div class="form-group">

								<div class="col-xs-6">
									<label for="phone">
										<h4>Phone</h4>
									</label>
									<input type="text" class="form-control" name="phone" id="phone" th:field="*{phone}"
										title="enter your phone number if any.">
								</div>
							</div>

							<div class="form-group">

								<div class="col-xs-6">
									<label for="email">
										<h4>Email</h4>
									</label>
									<input type="email" class="form-control" name="email" id="email" th:field="*{email}"
										title="enter your email.">
								</div>
							</div>
							<div class="form-group">

								<div class="col-xs-6">
									<label for="address">
										<h4>Address</h4>
									</label>
									<input type="text" class="form-control" name="address" id="address" th:field="*{address}"
										title="enter a address">
								</div>
							</div>
							<div class="form-group">

								<div class="col-xs-6">
									<label for="password">
										<h4>Password</h4>
									</label>
									<input type="password" class="form-control" name="password" id="password"
										th:field="*{password}" title="enter your password.">
								</div>
							</div>
							<div class="form-group">

								<div class="col-xs-6">
									<label for="password2">
										<h4>Verify</h4>
									</label>
									<input type="password" class="form-control" name="password2" id="password2" th:field="*{repeatPassword}"
									 title=" enter your password2.">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-12">
									<br>
									<button class="btn btn-lg btn-success" type="submit"><i
											class="glyphicon glyphicon-ok-sign"></i> Save</button>
								</div>
							</div>
						</form>

						<hr>

					</div><!--/tab-pane-->
					<div class="tab-pane" id="messages">

						<h2></h2>

						<hr>
						<link
							href="https://fonts.googleapis.com/css?family=Cabin|Indie+Flower|Inknut+Antiqua|Lora|Ravi+Prakash"
							rel="stylesheet">
						<link rel="stylesheet"
							href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
						<form class="form" action="##" method="post" id="registrationForm">
							<div class="ticket-container">
								<div class="item">
									<div class="item-right">
										<h2 class="num">$45</h2>
										<p class="day">/per person</p>
										<span class="up-border"></span>
										<span class="down-border"></span>
									</div> <!-- end item-right -->

									<div class="item-left">
										<p class="event">Tour Ticket</p>
										<h2 class="title">Pompidue Museum</h2>

										<div class="sce">
											<div class="icon">
												<i class="fa fa-table"></i>
											</div>
											<p>Monday 15th 2016 <br /> 11:00Am - 15:30Pm </p>
										</div>
										<div class="fix"></div>
										<div class="loc">
											<div class="icon">
												<i class="fa fa-map-marker"></i>
											</div>
											<p>North,Soth, United State , Amre </p>
										</div>
										<div class="fix"></div>
										<div class="loc">
											<div class="icon">
												<i class="fa fa-user"></i>
											</div>
											<p>Guests Number : 3 </p>
										</div>
										<div class="fix"></div>
										<button class="tickets">Tickets</button>
									</div> <!-- end item-right -->
								</div> <!-- end item -->

								<div class="item">
									<div class="item-right">
										<h2 class="num">$124</h2>
										<p class="day">/per person</p>
										<span class="up-border"></span>
										<span class="down-border"></span>
									</div> <!-- end item-right -->

									<div class="item-left">
										<p class="event">Tour Ticket</p>
										<h2 class="title">Notedam</h2>

										<div class="sce">
											<div class="icon">
												<i class="fa fa-table"></i>
											</div>
											<p>Monday 15th 2016 <br /> 11:00Am - 15:30Pm </p>
										</div>
										<div class="fix"></div>
										<div class="loc">
											<div class="icon">
												<i class="fa fa-map-marker"></i>
											</div>
											<p>North,Soth, United State , Amre </p>
										</div>
										<div class="fix"></div>
										<div class="loc">
											<div class="icon">
												<i class="fa fa-user"></i>
											</div>
											<p>Guests Number : 3 </p>
										</div>
										<div class="fix"></div>
										<button class="booked">Booked</button>
									</div> <!-- end item-right -->
								</div> <!-- end item -->

								<div class="item">
									<div class="item-right">
										<h2 class="num">$25</h2>
										<p class="day">/per person</p>
										<span class="up-border"></span>
										<span class="down-border"></span>
									</div> <!-- end item-right -->

									<div class="item-left">
										<p class="event">Tour Ticket</p>
										<h2 class="title linethrough">Versailles</h2>

										<div class="sce">
											<div class="icon">
												<i class="fa fa-table"></i>
											</div>
											<p>Monday 15th 2016 <br /> 11:00Am - 15:20Pm </p>
										</div>
										<div class="fix"></div>
										<div class="loc">
											<div class="icon">
												<i class="fa fa-map-marker"></i>
											</div>
											<p>North,Soth, United State , Amre </p>
										</div>
										<div class="fix"></div>
										<div class="loc">
											<div class="icon">
												<i class="fa fa-user"></i>
											</div>
											<p>Guests Number : 3 </p>
										</div>
										<div class="fix"></div>
										<button class="cancel">Cancel</button>
									</div> <!-- end item-right -->
								</div> <!-- end item -->
							</div>
					</div><!--/tab-pane-->
			</div><!--/tab-content-->

		</div><!--/col-9-->
	</div><!--/row-->

</body>